<%= render "nav/navbar" %>
<div class="container">

<p id="notice"><%= notice %></p>

<h1>Cart</h1>


<% @cart.photos.each do |photo| %>
      <div class="card">
        <%= image_tag(photo.image, :size => "700x500")%>
        <div class="card-body">
          <h5 class="card-title">$<%=photo.price%>
          <%if photo.discount %>
            <b><%=photo.discount%>% off</b>
          <%end%>
          </h5>
          <p class="card-text"><%=photo.description%></p>
          <%= check_box_tag "photos[]", photo.id%>
            <%= link_to 'Show', photo, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-secondary" %>
            <%= link_to 'Remove from Cart', remove_from_cart_path(photo), class: "btn btn-danger"%>

        </div>
      </div>
    <% end %>

    <h3>TOTAL: $<%=@cart.cost%></h3>
<%= link_to 'Checkout', checkout_path, class: "btn btn-primary btn-lg btn-block"%>


<br>
</div>