<%= render "nav/navbar" %>
<div class="container">


<div class="card">
  <%= image_tag(@photo.image, :size => "700x500")%>
  <div class="card-body">
    <h5 class="card-title">$<%=@photo.price%>
    <%if @photo.discount != 0%>
      <b><%=@photo.discount%>% off</b>
    <%end%>
    </h5>
    <p class="card-text"><%=@photo.description%></p>
      <%if @current_user.id == @photo.user_id%>
        <%= link_to 'Edit', edit_photo_path(@photo), class: "btn btn-secondary" %>
        <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%>
      <%end%>
      <%= link_to 'Add to Cart', add_to_cart_path(@photo.id), class: "btn btn-info" %>
  </div>
</div>